
<div class="container-fluid" id="myFunFacts">
    <h3>A few fun facts about myself</h3><br>

        <p>I love french press coffee, I have a cat named after MacGyver, my favorite number is 22, I'm not a huge fan of IPAs,<br>
            I play video games like it's my life, I knew what I wanted to do at the age of 13, I do downhill mountain biking, <br>
            my favorite food is bacon, and I broke my left arm twice.</p>
</div>

<div style="padding:20px"></div>

 <div class="container" id="myGallery">

        <div class="row">
            <div class="col-xs-6 col-sm-2 col-sm-offset-1">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="{{imgSrc[0]}}" alt="">
                </a>
            </div>
            <div class="col-xs-6 col-sm-2 ">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="{{imgSrc[1]}}" alt="">
                </a>
            </div>
            <div class="col-xs-6 col-sm-2 ">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="{{imgSrc[2]}}" alt="">
                </a>
            </div>
            <div class="col-xs-6 col-sm-2 ">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="{{imgSrc[3]}}" alt="">
                </a>
            </div>
            <div class="col-xs-6 col-sm-2 ">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="{{imgSrc[4]}}" alt="">
                </a>
            </div>
            <div class="col-xs-6 col-sm-2 col-sm-offset-1">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="{{imgSrc[5]}}" alt="">
                </a>
            </div>
            <div class="col-xs-6 col-sm-2 ">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="{{imgSrc[6]}}" alt="">
                </a>
            </div>
            <div class="col-xs-6 col-sm-2 ">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="{{imgSrc[7]}}" alt="">
                </a>
            </div>
            <div class="col-xs-6 col-sm-2 ">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="{{imgSrc[8]}}" alt="">
                </a>
            </div>
            <div class="col-xs-6 col-sm-2 ">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="{{imgSrc[9]}}" alt="">
                </a>
            </div>
        </div>
     
        <div id="followBtn">
            <h4> <a href ="http://www.instagram.com/shahidammer" > <span > Follow me on Instagram  </span></a></h4>
        </div><hr>
     
     
    <div style="padding:20px"></div>

    <div class="container">
         <div class="row">
             <div class="col-xs-10 col-xs-offset-1">
                 <p style="font-size:20px; color:black">
                     Get a deeper insight into who I am as a person. My path as a Front-End developer has led me 
                     to a focus in Ruby on Rails and Squarespace development.
                 </p>
                <div style="padding:10px"></div>

                <p>
                    During the warmer months, I enjoy traveling to some great downhill mountain biking locations or finding a remote lake somewhere new for kayaking. Although the majority of the year, you will find me behind a computer screen. I am a passionate gamer which has had a huge impact on the start of my career, but that's a story for another time. 

                    Throughout the years I've worked for places that feel the need to constantly burnout their employees with horrible requests and ridiculous timelines. Having been put through some bad experiences in my past, I've also had some great ones that allowed me to work with some amazing people who have played key roles in my career. I have worked very hard to get where I am today, but I'm just as passionate about where my career is leading me. The challenges that I deal with on a day-to-day basis I find meaningful and rewarding. Bottom line: I honestly love what I do and I will do whatever it takes to further my career.
                </p> 
             </div>
         </div>

     </div>
</div>
    <!-- /.container -->

<div style="padding:20px"></div>

<div class="container-fluid" id="myStory" >
    
    <p style="color:white; font-size:18px">I would like to tell you</p>
    <h1 style="font-weight:bold; color:white;font-size:60px">MY STORY</h1><br>
    <h4> <a ui-sref ="app.contact" > <span > REACH OUT TODAY  </span></a></h4>
</div>

<div style="padding:20px"></div>

<div class="container-fluid" id="whatHaveIdone">
    <h3>What I've done & what I can do</h3><br>

    <p>
        Feel free to take a deeper look at what I've accomplished over the years and what I'm able to do for you.<br>
        My resume goes over the standard items, but please understand that I don't embellish<br>
        my capabilities (no good ever comes out of that)..

    </p>
    <div style="padding:10px"></div>
    <h4> <a ui-sref ="app.resume" > <span >VIEW MY RESUME </span></a></h4>
    
</div>


