<div class="container-fluid" id="prefooter">
        <p style="color:white;">Get a website that looks amazing and actually works. 
            <a ui-sref ="app.contact"> <span> Contact me  </span></a>
        </p>
</div>
<footer class="row-footer">    
    <div class="row">            
        <h5>Shahid<img src="../app/assets/angular.png" width="50px" height="50px">Ammer</h5>

        <div class="nav navbar-nav">
            <a ui-sref="app"><span id="linkStyle">Home</span></a>
            <a ui-sref="app.portfolio"><span id="linkStyle">Portfolio</span></a>
            <a ui-sref="app.about"><span id="linkStyle">About</span></a> 
            <a ui-sref="app.resume"><span id="linkStyle">Resume</span></a>
            <a ui-sref="app.contact"><span id="linkStyle">Contact</span></a> 

        </div>
        <h5 id="copyWriteStyle">© 2016 Shahid Ammer. All rights reserved.</h5> 


        <div class="nav navbar-nav">
            <i class="fa fa-envelope"></i>: 
             <a href="shahyd.ammerr@gmail.com">
             connect@shahidammer</a><br>
            <a class="btn btn-social-icon btn-google-plus" href="http://google.com/+" style="align:center;"><i class="fa fa-google-plus"></i></a>
            <a class="btn btn-social-icon btn-facebook" href="http://www.facebook.com/shahidammer23"><i class="fa fa-facebook"></i></a>
            <a class="btn btn-social-icon btn-linkedin" href="http://www.linkedin.com/in/"><i class="fa fa-linkedin"></i></a>
            <a class="btn btn-social-icon btn-twitter" href="http://twitter.com/"><i class="fa fa-twitter"></i></a>
            <a class="btn btn-social-icon btn-youtube" href="http://youtube.com/"><i class="fa fa-youtube"></i></a>
            <a class="btn btn-social-icon" href="mailto:"><i class="fa fa-envelope-o"></i></a>
        </div>

    </div>
</footer>



