<div class="container">
	<div class="row">
        
		<div class="SkillBar"> <!-- Skill Bars -->
            
            <div class="col-xs-11 col-xs-offset-1 col-sm-5 col-sm-offset-1"> 
                <h3 style="text-align: center; font-weight:bold;">Skills and Specialities</h3>
                <div style="padding:10px"></div>
                <div id="main">
                    <div id="myLabel"><label><img src="../app/assets/html.png" width="25px" height="25px">HTML</label></div>                  
                    <div class="progress skill-bar" id="myProgress" >
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                            <span class="skill"><i class="val"></i></span>
                        </div>
                    </div>
                </div>

                <div id="main">
                    <div id="myLabel"><label><img src="../app/assets/css.png" width="25px" height="25px">CSS</label></div>                  
                    <div class="progress skill-bar" id="myProgress" >
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
                            <span class="skill"><i class="val"></i></span>
                        </div>
                    </div>
                </div>
                <div id="main">
                    <div id="myLabel"><label><img src="../app/assets/js.png" width="25px" height="25px">JavaScript</label></div>                  
                    <div class="progress skill-bar" id="myProgress" >
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                            <span class="skill"><i class="val"></i></span>
                        </div>
                    </div>
                </div>

                <div id="main">
                    <div id="myLabel"><label><img src="../app/assets/angular.png" width="25px" height="25px">AngularJs</label></div>                  
                    <div class="progress skill-bar" id="myProgress" >
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">
                            <span class="skill"><i class="val"></i></span>
                        </div>
                    </div>
                </div>
                <div id="main">
                    <div id="myLabel"><label><img src="../app/assets/node.png" width="25px" height="25px">NodeJs</label></div>                  
                    <div class="progress skill-bar" id="myProgress" >
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
                            <span class="skill"><i class="val"></i></span>
                        </div>
                    </div>
                </div>

                <div id="main">
                    <div id="myLabel"><label><img src="../app/assets/mongo.png" width="25px" height="25px">MongoDB</label></div>                  
                    <div class="progress skill-bar" id="myProgress" >
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                            <span class="skill"><i class="val"></i></span>
                        </div>
                    </div>
                </div>
                <div id="main">
                    <div id="myLabel"><label><img src="../app/assets/mysql.png" width="25px" height="25px">MySql</label></div>                  
                    <div class="progress skill-bar" id="myProgress" >
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                            <span class="skill"><i class="val"></i></span>
                        </div>
                    </div>
                </div>

                <div id="main">
                    <div id="myLabel"><label><img src="../app/assets/hybrid.png" width="25px" height="25px">Hybrid</label></div>                  
                    <div class="progress skill-bar" id="myProgress" >
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">
                            <span class="skill"><i class="val"></i></span>
                        </div>
                    </div>
                </div>

                <div id="main">
                    <div id="myLabel"><label><img src="../app/assets/cocos2d.png" width="25px" height="25px">cocos2d</label></div>                  
                    <div class="progress skill-bar" id="myProgress" >
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                            <span class="skill"><i class="val"></i></span>
                        </div>
                    </div>
                </div>

                <div id="main">
                    <div id="myLabel"><label><img src="../app/assets/ios.png" width="25px" height="25px">iOS</label></div>                  
                    <div class="progress skill-bar" id="myProgress" >
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">
                            <span class="skill"><i class="val"></i></span>
                        </div>
                    </div>
                </div>

                <div id="main">
                    <div id="myLabel"><label><img src="../app/assets/unity.png" width="25px" height="25px">Unity</label></div>                  
                    <div class="progress skill-bar" id="myProgress" >
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
                            <span class="skill"><i class="val"></i></span>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-xs-11 col-xs-offset-1 col-sm-4 col-sm-offset-1">
                <h3 style="text-align: center; font-weight:bold;">Experienced with</h3>
                <div style="padding:10px"></div>
                <ul>
                    <li>Photoshop</li>
                    <li>Version Control ( GIT )</li>
                    <li>Foundation / Bootstrap</li>
                    <li>Responsive Layout and Design</li>
                    <li>Agile Methodology</li>
                    <li>BEM Methodology (naming convention)</li>
                    <li>Cross-Browser Compatibility</li>
                    <li>Mobile First Thinking</li>
                </ul>

            </div>
        
        </div><!-- Skill Bars -->
	</div>
    <div style="padding:20px"></div>
    <div style="height:1px;width:auto;background-color:black;"></div>

    <div class="row">
        
        <div class="col-xs-11 col-xs-offset-1 col-sm-3 col-sm-offset-1">
            <div class="myExprience">
                <div style="padding:10px"></div>
                <h4 style="text-align: center;">WORK EXPERIENCE</h4>
            </div>
        </div>
        <div class="col-xs-11 col-xs-offset-1 col-sm-7">
                <div style="padding:10px"></div>

            <h5 style="font-weight:bold">COCOS2D DEVELOPER</h5>

            <h5>WeRplay, ISB, January 2015 – May 2016</h5>
            <p>Working as a cocos developer I was responsible for developing designs or initial concept designs for games
                including game play, game scripts and storyboards.I've used programming languages such as C++ and cocos libraries 
            for developing cross plateform games, both for online selling portals and also for our clients who wants us to develop
            games for them. In our games we have used different third party pluggins for ads(both banners and video), social plugins for 
            facebook, twitter, google++ etc, InApps and analytics. </p>
                <div style="padding:10px"></div>

            <h5 style="font-weight:bold">DATA ANALYST INTERN</h5>
            <h5>AKESP, GLT, June 2013 – Aug 2013</h5>
            <p>As an intern at AKESP, which is an NGO who strives to help people from remote area by providing them free educations
            and other seminars for creating awareness, I was responsible for collecting data of 52 schools from different districts, 
            Anaylse them and report it to my supervisors. I've also participated in different awareness seminars conducted by our
            organisation</p>
            
            
        </div>
    </div>
    <div style="padding:20px"></div>
    <div style="height:1px;width:auto;background-color:black;"></div>

    <div class="row">

    <div class="col-xs-11 col-xs-offset-1 col-sm-3 col-sm-offset-1">
        <div class="myExprience">
            <div style="padding:10px"></div>
            <h4 style="text-align: center;">EDUCATION</h4>
        </div>
    </div>
    <div class="col-xs-11 col-xs-offset-1 col-sm-7">
    <div style="padding:10px"></div>

        <h5 style="font-weight:bold">BACHELORS IN COMPUTER SCIENCE</h5>

        <h5>Institute of Business Administration, Karachi. Jan 2011 – Jan 2015</h5>
        <p>Courses: Software Engineering, Object Oriented Programming, Data Structures, Database Managemenet, 
        Website Development, Computer Architecture, System Programming, Principal of Marketing,Principal of Management</p>
            
        <div style="padding:10px"></div>
        
        <h5 style="font-weight:bold">HSSC in PRE ENGINEERING</h5>

        <h5>Aga Khan Higher Secondary School, Gilgit. Aug 2008 – July 2010</h5>
        <p>Courses: Calculus, Physics, Chemistry, History, Statistics, English </p>
            
        <div style="padding:10px"></div>        

    </div>
    </div>
    <div style="padding:20px"></div>
    <div style="height:1px;width:auto;background-color:black;"></div>

</div>